@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #eef6f8;
}

@media (min-width: 576px) {
    .container {
        width:100% !important;
    }
    .containerInfo{
        width:100% !important;
    }
    .navbar{
        width:100% !important;
    }
}

.botonesNavegacion{
    display: flex;
    justify-content: right;
}
.container{
    background: white;
    border-radius: 20px;
}

.containerInfo{
    background: white;
    border-radius: 20px;
}


.nav-link{
    color:#fff ;
    font-size: 18px;
}


.container-perfil{
    width: 20px;
    height: 20px;
}

.presentation__picture{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    object-fit: cover;
    display: block;
    margin: auto;
    padding: 10px;
}

.presentation__pictureBitcoin{
    margin-bottom: 10px;
    display: flex;
    margin: auto;
    padding: 10px;
}

.about__picture{
    float: left;
    width: 20%;
    margin: 0em 5em 0em 5em;
}

.settingsPerfil{
    float: right;
    padding-right: 20px;
    color: rgba(128, 128, 128, 0.658);
}

div.logo {
    color: white;
    width: 50px;
    height: 50px;
    background: #FF8872;
    border: 5px solid #5D4E7B;
    border-radius: 50%;
}


button {
    border: none;
    border-radius: 5px;
}

.square {
    width: 40px;
    height: 40px;
}

.grey-border {
    border: 1px solid #dfe6e8;
}

.round-corner {
    border-radius: 20px;
}

.round-corner-small {
    border-radius: 6px;
}

.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-20 {
    font-size: 20px;
}

.font-28 {
    font-size: 28px;
}

.font-30 {
    font-size: 30px;
}

.font-100{
    font-size: 100px;
}

.weight-300 {
    font-weight: 300;
}

.weight-400 {
    font-weight: 400;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}
/*-------------*/

.black-color{
    color: black;
}
.Orange-color-2{
    color: #ffa800;
}

.Orange-bg-color{
    background: #ff840085;
}

.Yellow-bg-color{
    background: #fffacf;
}

.sky-blue{
    background: #caedfa;
}

.green-color{
    color: #3fc4c1;
}

.green-bg-color{
    background: #3fc4c1;
}
.green-bg-color1{
    background: #3fc4c2a2;
}
.white-color {
    color: #fff;
}

.white-color-2 {
    color: #E7E5EC;
}

.black-color{
    color: black;
}



.light-green-bg-color {
    background: #E0F8F2;
}
