@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #eef6f8;
}

@media (min-width: 576px) {
    .container {
        width:100% !important;
    }
    .containerInfo{
        width:100% !important;
    }
    .navbar{
        width:100% !important;
    }
}

/*Containers de inicio*/
.container-inicio{
    justify-content: center;
}

.flex-item{
    border-radius: 20px;
    padding: 0 30px 0 30px;

}

.containter-values{
    background-color: #3fc4c1;
    color: white;
}

.picture-balance{
    width: 600px;
    height: 200px;
    justify-content: center;
    border: 1px solid black;
    overflow: hidden;
}

.container-inicio-text{
    align-items: center;
}

.text{
    margin: 20px 200px;
}

.container-inf-quienesSomos{
    justify-content: center;
    border: 1px solid gre;
}

.container-QuienesSomos{
    justify-content: center;
    border: 2px solid #3fc4c1;
    border-radius: 60px;
}

.logo-Bitcoin-quienesSomos{ 
    overflow: hidden;
    justify-content: center;
}


.container-quienesSomos-text{
    margin-top: 60px;
    width: 300px;
}

/*-----------------------------*/
.container{
    padding: 10px;
    background: white;
    border-radius: 20px;
}

.containerInfo{
    background: white;
    border-radius: 20px;
}

/*BARRA DE NAVEGACIÓN*/
.nav-link{
    color:#fff ;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px;
    margin-right: 10px;
    margin-top: 5px;
    text-align: center; /* Mover texto dentro de NavToggler*/
}

.navbar-toggler {
    border-color: white; /*Borde del ícono de NavBar*/
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:hover{
    background: #23aea0af;
    border: 2px solid white;
}

.navbar-default{
    background:none;
    border: 2px;
    border-color: white;
    transition-duration: 1s;
}

.navbar-default .navbar-brand{
    color:none;
}

.navbar-default .navbar-nav li a{
    color:#fff;
    font-size: 9pt;
    font-weight:bold;
}

.navbar-default .navbar-nav li a:hover {
    color:white;
}

.collapse{
    justify-content: flex-end; /* Menú a la Izquierda de la barra de Navegación*/
}


/*PERFIL */
.container-Perfil{
    padding-top: 8%;
    padding-bottom: 10px;
}

.container-Detalles-Perfil{
    margin: 0 15%;
    background: white;
    border-radius: 20px;
}

.container-det-balance{
    padding: 10%;
    padding-right: 20%;
}

.table{
    padding: 8px;
}

.presentation__picture{
    width: 150px;
    height: 150px;
    /* margin-bottom: 10px; */
    object-fit: cover;
    display: block;
    margin: auto;
/*     padding: 10px; */
}

.presentation__pictureBitcoin{
    margin-bottom: 10px;
    display: flex;
    margin: auto;
    padding: 10px;
}

.about__picture{
    width: 300px;
    height: 300px;
}

.settingsPerfil{
    float: right;
    padding-right: 20px;
    color: rgba(128, 128, 128, 0.658);
}

div.logo {
    color: white;
    width: 50px;
    height: 50px;
    background: #FF8872;
    border: 5px solid #5D4E7B;
    border-radius: 50%;
}


button {
    border: none;
    border-radius: 5px;
}

.square {
    width: 40px;
    height: 40px;
}

.grey-border {
    border: 1px solid #dfe6e8;
}

.round-corner {
    border-radius: 20px;
}

.round-corner-small {
    border-radius: 6px;
}

.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-20 {
    font-size: 20px;
}

.font-28 {
    font-size: 28px;
}

.font-30 {
    font-size: 30px;
}

.font-100{
    font-size: 100px;
}

.weight-300 {
    font-weight: 300;
}

.weight-400 {
    font-weight: 400;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}
/*-------------*/

.black-color{
    color: black;
}
.Orange-color-2{
    color: #ffa800;
}

.Orange-bg-color{
    background: #ff840085;
}

.Yellow-bg-color{
    background: #fffacf;
}

.sky-blue{
    background: #caedfa;
}

.green-color{
    color: #3fc4c1;
}

.green-bg-color{
    background: #3fc4c1;
}
.green-bg-color1{
    background: #3fc4c2a2;
}
.white-color {
    color: #fff;
}

.white-color-2 {
    color: #E7E5EC;
    background-color: white;
}

.black-color{
    color: black;
}

.light-green-bg-color {
    background: #E0F8F2;
}
